[Unit]
Description=Drowsiness Detection App
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/drowsiness-detection
ExecStart=/home/ubuntu/drowsiness-detection/venv/bin/python app.py
Restart=always

[Install]
WantedBy=multi-user.target